$color: white;

body
{
    background-color: $color;
    a
    {
        text-align: right;
        color: $color;
        margin-bottom: 150px;
    }
    a:hover
    {
        color: $color;
    }
    .inputs
    {
        width: 600px;
        background-color: $color;
        border: 1px solid gray;
        color: black;
    }
    h1
    {
        color: black;
        font-family: sans-serif;
        margin-bottom: 30px;
        font-size: 20px;
    }
    h2
    {
        color: black;
        font-family: sans-serif;
        font-size: 15px;
    }
    .container
    {
        margin-left: 20px;
    }
    .row
    {
        margin-bottom: 15px;
    }
    #submit
    {
        color: $color;
        font-family: sans-serif;
        background-color: rgb(0, 106, 255);
        width: auto;
        height: 40px;
        margin-left: 680px;
        margin-top: 20px;
        border: 0px;
    }
}